/* -------------------- All Campus Container ------------------------ */

.all-campus-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  /* justify-content: center; */
  /* overflow-y: auto; */

  /* border: 1px solid black; */
  width: 96%;
  height: 76vh;
  margin: auto;
  padding: 20px;
}

