.single-campus {
  background-color: white;
  box-shadow: 0px 0px 10px grey;
  width: 70vw;
  margin: auto;
  padding: 20px;
}

.single-campus-container {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 3fr 8fr 2fr;
  grid-template-areas: 
    "img  img  name  name"
    "img  img  desc  desc"
    "addr .    .     btns";
}

.single-campus-img {
  box-sizing: border-box;
  grid-area: img;
  height: 350px;
  width: 100%;
  padding: 10px;
  border: 1px solid silver;
  object-fit: contain;
  background-color: white;
}

.single-campus-name {
  grid-area: name;
  place-self: center;
  font-size: 2.5em;
  font-weight: 500;
}

.single-campus-descript {
  grid-area: desc;
}

.single-campus-address {
  grid-area: addr;
  justify-self: start;
}
.single-campus-side-buttons {
  display: flex;
  justify-content: space-around;
  grid-area: btns;
  justify-self: stretch;
  align-self: center;
}

.single-campus-btn {
  height: 30px;
  width: 48%;
  /* margin: 2px; */
}

.single-campus-students-container {
  position: relative;
  border: 1px solid aliceblue;
  background-color: azure;
  padding: 30px;
}
.single-campus-add-btn {
  position: absolute;
  top: -50px;
  right: 10px;
  width: 150px;
  
  background-color: rgb(12, 168, 168);
  color: white;
  padding: 12px;
  border-style: none;
  border-radius: 5px;
}

.single-campus-add-btn:hover {
  background-color: rgb(31, 212, 212);
}