.single-campus {
  background-color: white;
  box-shadow: 0px 0px 10px grey;
  width: 70vw;
  margin: auto;
  padding: 50px 15px 30px 15px;
}

.single-campus-container {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 300px 50px;
  grid-template-areas: 
    "img  img  name  name"
    "img  img  desc  desc"
    "addr .    .     btns";
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

.single-campus-img {
  box-sizing: border-box;
  grid-area: img;
  height: 100%;
  width: 100%;
  padding: 10px;
  border: 1px solid silver;
  object-fit: contain;
  background-color: white;
}

.single-campus-name {
  grid-area: name;
  align-self: baseline;
  justify-self: center;
  font-size: 2.5em;
  font-weight: 500;
}

.single-campus-descript {
  grid-area: desc;
  word-wrap: break-word;
  white-space: pre-line;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
  margin: 0px;
}

.single-campus-address {
  grid-area: addr;
  justify-self: start;
  align-self: start;
}
.single-campus-side-buttons {
  display: flex;
  justify-content: space-around;
  grid-area: btns;
  justify-self: stretch;
  align-self: center;
}

.single-campus-btn {
  height: 30px;
  width: 48%;
  /* margin: 2px; */
}

.single-campus-students-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  position: relative;
  border: 1px solid aliceblue;
  background-color: azure;
  padding: 30px;
}
.single-campus-add-btn {
  position: absolute;
  top: -50px;
  right: 10px;
  width: 150px;
  
  background-color: rgb(12, 168, 168);
  color: white;
  padding: 12px;
  border-style: none;
  border-radius: 5px;
}

.single-campus-add-btn:hover {
  background-color: rgb(31, 212, 212);
}

.single-campus-modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(10, 10, 255, 0.199);
}