.edit-campus-modal {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 50px 50px 50px 50px 200px 50px;
  grid-template-areas: 
  "title    title     title "
  "name     nInput    nInput"
  "locati   lInput    lInput"
  "imgurl   iInput    iInput"
  "descr    dInput    dInput"
  ".        savebtn   .     ";
  grid-column-gap: 20px;
  align-items: start;

  width: 600px; 
  height: 450px;
  border-radius: 5px;
  background-color:white;
  padding: 40px 30px 30px 30px;
  margin: 100px auto;
}

.edit-header {
  position: relative;
  top: -35px;
  grid-area: title;
  justify-self: center;
}

.edit-name-label {
  grid-area: name;
  justify-self: end;
  font-weight: 400;
}
.edit-loca-label {
  grid-area: locati;
  justify-self: end;
  font-weight: 400;
}
.edit-url-label {
  grid-area: imgurl;
  justify-self: end;
  font-weight: 400;
}
.edit-desc-label {
  grid-area: descr;
  justify-self: end;
  font-weight: 400;
}
.name-input {
  grid-area: nInput;
}
.loca-input {
  grid-area: lInput;
}
.url-input {
  grid-area: iInput;
}
.desc-input {
  grid-area: dInput;
  resize: none;
  
}
.save-changes {
  grid-area: savebtn;
  height: 40px;
}
.close-modal {
  position: absolute;
  top:0px;
  right:10px;
  font-size: 1.3em;
  cursor: pointer;
}