  /* -------------------- Single Student Container ------------------------ */

.single-student {
  position: relative;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0px 0px 10px grey;
  width: 70vw;
  height: 650px;
  margin: auto;
  margin-top: 15px;
  padding: 50px 45px 30px 45px;
}
.single-student-container {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: minmax(50px,auto) minmax(10px, 30px) minmax(50px,100px) 40px;
  grid-template-areas: 
    "img  name  name"
    "img  email email"
    "img  gpa   gpa  "
    "img  btns  btns";
  grid-column-gap:20px;
  grid-row-gap: 5px;
  margin-bottom: 30px;

}

.single-student-img {
  box-sizing: border-box;
  grid-area: img;
  width: 100%;
  max-width: 450px;
  height: 100%;
  object-fit: contain;
  border: 1px solid silver;
  padding: 10px;
  background-color: white;
}
.single-student-name {
  grid-area: name; 
  justify-self: center;
  font-size: 2.5em;
  font-weight: 200;
}
.single-student-email {
  grid-area: email;
  align-self: end;
}
.single-student-gpa {
  grid-area: gpa;
}
.single-student-edit-btn {
  width: 100px;
  height: 30px;
  font-size: 1em;
}
.single-student-del-btn {
  width: 100px;
  height: 30px;
  font-size: 1em;
  margin-left: 5px;
}
.single-student-side-buttons {
  grid-area: btns;
  justify-self: end;
  align-self: start;
  display: flex;
  justify-content: space-between;
  width: 55%;
  max-width: 210px;
}

.single-student-modal-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 255, 0.199);
}

.student-campus-container {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 2% 0px 2%;

  width: 90%;
  box-sizing: border-box;
  /* margin-left: auto; */
}
.update-campus-container {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  flex-wrap: wrap;
  
  width: 50%;
  box-sizing: border-box;
  border: 1px solid aliceblue;
  padding-bottom: 10px;
}
.campus-dropdown {
  width: 60%;
  min-width: 250px;
  height: 35px;
 
}
.select-campus-btn {
  height: 35px;
  border-radius: 2px;
  margin-left: 10px;
}