/* * {
  padding: 0px;
  margin: 0px;
} */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-container {
  padding: 10px;
}
/* -------------------- Navigation Bar ------------------------ */
.nav-bar {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  background-color: black;
}

.nav-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 100%;
  color: grey;
  /* border: 1px solid black; */
}

.nav-link:hover {
  font-size: 1.1em;
  color: white;
}
/* -------------------- All Campus Container ------------------------ */

.all-campus-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  /* justify-content: space-evenly; */
  overflow-y: auto;

  /* border: 1px solid black; */
  width: 94%;
  height: 76vh;
  /* margin: auto; */
  padding: 10px;
}

/* -------------------- All Student Container ------------------------ */

.all-student-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  /* justify-content: space-between; */
  overflow-y: auto;

  /* border: 1px solid black; */
  width: 94%;
  height: 76vh;
  /* margin: auto; */
  padding: 10px;
}

/* -------------------- Single Campus Card ------------------------ */
.campus-card {
  position: relative;
  top: 0px;
  display: grid;
  grid-template-columns: auto, auto, auto, auto;
  grid-template-areas:
    "img img name name"
    "img img .    ."
    "img img edit del"; 
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-content: stretch;

  width: 300px;
  border: 0.2px solid grey;
  box-shadow: 0px 2px 4px grey;
  background-color: rgb(250, 250, 250);
  padding: 5px;
  transition: box-shadow 0.1s, top 0.1s;
  margin: 5px;
}
.campus-card:hover {
  box-shadow: 0px 5px 7px grey;
  top: -2px;
}
.campus-card-img {
  grid-area: img;
  width: 100px;
  height: 100px;
}
.campus-card-name {
  grid-area: name;

  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}
.campus-card-deleteBtn {
  grid-area: del;
  background-color: rgb(221, 33, 33);
  color: white;
}
.campus-card-editBtn {
  grid-area: edit;
}

/* -------------------- Student Card ------------------------ */
.student-card {
  position: relative;
  top: 0px;
  display: grid;
  grid-template-columns: auto, auto, auto, auto;
  grid-template-areas:
    "img  img "
    "img  img "
    "name name"; 
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-content: center;

  height: 150px;
  width: 130px;
  border: 0.5px solid grey;
  box-shadow: 0px 2px 4px grey;
  background-color: rgb(250, 250, 250);
  padding: 5px;
  transform: rotate(0deg);
  transition: box-shadow 0.1s, top 0.1s, rotate 0.3s, 0.1s ease-in;
  margin: 5px;
}
.student-card:hover {
  box-shadow: 0px 5px 7px grey;
  transform: rotate(3deg);
  top: -2px;
}
.student-card-img {
  grid-area: img;
  width: 120px;
  height: 120px;
}
.student-card-name {
  grid-area: name;

  font-size: 0.9em;
  font-weight: 400;
  cursor: pointer;
}


/* -------------------- Single Campus Container ------------------------ */

.single-campus {
  margin: auto;
  width: 94%;
}
.single-campus-container {
  display: grid;
  grid-template-areas: 
    "img2   img2   name      ."
    "img2   img2  descript descript"
    "mid    mid     mid      mid";
  grid-column-gap: 10px;
  border: 1px solid black;

}

.single-campus-img {
  grid-area: img2;
}
.single-campus-name {
  grid-area: name
}
.single-campus-descript {
  grid-area: descript;
}
.single-campus-bar {
  grid-area: mid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
  border: 1px solid black;
  padding-right: 0px;
}
.single-campus-side-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10px;
  width: 100px;
  /* border: 1px solid black;   */
}
.single-campus-students-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-y: auto;
}

/* -------------------- Single Student Container ------------------------ */

.single-student {
  margin: auto;
  width: 60%;
  border: 1px solid black;
  min-width: 600px;
}
.single-student-container {
  position: relative;
  display: flex;
  border: 1px solid black;
}

.single-student-img {
  width: 350px;
  height: 300px;
  /* border: 1px solid red; */
}
.single-student-header {
  /* border: 1px solid black; */
  margin-left: 10px;
}
.single-student-name {
  font-size: 3em;
}
.single-student-email {
  font-size: 1.2em;
}
.single-student-edit-btn {
  width: 80px;
  height: 30px;
  font-size: 1em;
}
.single-student-del-btn {
  width: 80px;
  height: 30px;
  font-size: 1em;
  margin-left: 10px;
}
.single-student-side-buttons {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 10px;
}

/* -------------------- Add Campus Form ------------------------ */

.campus-form-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(156, 30, 30, 0.24);
  /* border: 1px solid black; */
}

.campus-form {
  position: relative;
  background-color: white;
  opacity: 1;
  width: 90vw;
  height: 350px;
  max-width: 400px;
  padding: 30px;
  border-radius: 10px;
  border: .5px solid black;
}
.c-form {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height: 65%;
  padding: 0 50px 0 50px;
}
.campus-add-btn {
  width: 200px;
  height: 50px;
  align-self: center;
}

.campus-form-close-btn {
  position: absolute;
  text-align: center;
  top:5px;
  right:15px;
  color: black;
  /* border: 1px solid black; */
  font: "Lucida Console";
  font-size: 1.5em;
  height: 30px;
  width: 30px;
}
.campus-form-close-btn:hover {
  cursor: pointer;
}



/* -------------------- Add Student Form ------------------------ */

.student-form-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(156, 30, 30, 0.24);
  /* border: 1px solid black; */
}

.student-form {
  position: relative;
  background-color: white;
  opacity: 1;
  width: 90vw;
  height: 350px;
  max-width: 400px;
  padding: 30px;
  border-radius: 10px;
  border: .5px solid black;
}

.student-add-btn {
  width: 200px;
  height: 50px;
  align-self: center;
}

.student-form-close-btn {
  position: absolute;
  text-align: center;
  top:5px;
  right:15px;
  color: black;
  /* border: 1px solid black; */
  font: "Lucida Console";
  font-size: 1.5em;
  height: 30px;
  width: 30px;
}
.student-form-close-btn:hover {
  cursor: pointer;
}